#このコードは任意のcsvファイルの任意のカラムからデータベースを作成します．
そして，そのデータベースを用いて，データベースの対象カラムに一致し，なおかつ検索用名前の一部分が含まれる時，データベースから名前の全部分を返します．
ただし，条件を満たす名前が複数存在した時は，データベースの出現回数で場合分けします．

In [214]:
import pandas as pd
from pandas import DataFrame
thr = 0
#thr　は閾値

In [215]:
df_origin =pd.read_csv('test.csv')

In [216]:
df1 = pd.DataFrame({ '医師コード' :df_origin['医師コード'],
                                    '医師名': df_origin['医師名'],
                                    '対象薬品': df_origin['対象薬品'],
                                    '対象領域': df_origin['対象領域']})

In [217]:
df1 = df.fillna(0)

In [218]:
df1.head()

      名前            携帯番号        生年月日      郵便番号  dup
0  渋谷 波子  090-6335-3557     1983/3/4  019-0532    3
1  清水 憲広  090-1642-6380    1980/3/21  861-8006    3
2  平川 茂俊  070-8981-4078    1982/1/14  100-1701    3
3  向井 智子  070-9618-5196    1983/7/21  744-0075    3
4  菅野 美砂  090-4625-2156   1992/11/28  510-0201    3

In [219]:
df1['dup'] = df.groupby(['医師コード','医師名','対象薬品','対象領域'])['医師コード'].transform('count')

#重複行のカウント

In [220]:
df1 =df.drop_duplicates(['医師コード','医師名','対象薬品','対象領域','dup'])

In [221]:
df1.head()

      名前            携帯番号        生年月日      郵便番号  dup
0  渋谷 波子  090-6335-3557     1983/3/4  019-0532    3
1  清水 憲広  090-1642-6380    1980/3/21  861-8006    3
2  平川 茂俊  070-8981-4078    1982/1/14  100-1701    3
3  向井 智子  070-9618-5196    1983/7/21  744-0075    3
4  菅野 美砂  090-4625-2156   1992/11/28  510-0201    3

In [222]:
df1.to_excel("test_out2.xlsx")

#ここままででデータベース作り終了

In [223]:
df_search = pd.read_excel('test2.xlsx')

#検索対象となるエクセルファイルの読み込み

In [224]:
df_search.head()

,名前,名前フリガナ,性別,血液型,生年月日,電話番号,携帯番号,メール,郵便番号,住所,住所フリガナ
0,渋谷,シブタニ ナミコ,女,A,1983-03-04,0182-53-0568,090-6335-3557,sibutani0568@plala.or.jp,019-0532,秋田県横手市十文字町麻当4-6-9,アキタケンヨコテシジュウモンジマチマトウ
1,清水,シミズ ノリヒロ,男,A,1980-03-21,096-233-8646,090-1642-6380,nrhr_smz@infoseek.jp,861-8006,熊本県熊本市龍田7-3-3 龍田第1ビル 13階,クマモトケンクマモトシタツダ
2,須藤,ストウ トモミ,女,A,1987-05-07,025-779-5979,090-3700-9657,sutoutomomi@ybb.ne.jp,949-6433,新潟県南魚沼市泉盛寺5-7-4,ニイガタケンミナミウオヌマシセンジョウジ
3,竹下,タケシタ マサヒロ,男,AB,1992-04-23,0584-06-0655,NaN,takesita0655@example.gr.jp,503-1316,岐阜県養老郡養老町押越8-12-5,ギフケンヨウロウグンヨウロウチョウオシコシ
4,桑原,クハバラ ユキヒコ,男,O,1973-11-07,0126-76-1180,070-3069-2702,kuhabarayukihiko@geocities.com,072-0002,北海道美唄市東一条北2-14-3,ホッカイドウビバイシヒガシ１ジョウキタ

In [225]:
df2 = pd.DataFrame(df_search, columns = ['医師コード','医師名','対象薬品','対象領域','予測名前1','数字'])

In [226]:
df2 = df2.fillna(0)

In [227]:
df2

   名前            携帯番号       生年月日      郵便番号  予測名前1   数字
0  渋谷  090-6335-3557  1983-03-04  019-0532    0.0  0.0
1  清水  090-1642-6380  1980-03-21  861-8006    0.0  0.0
2  須藤  090-3700-9657  1987-05-07  949-6433    0.0  0.0
3  竹下               0 1992-04-23  503-1316    0.0  0.0
4  桑原  070-3069-2702  1973-11-07  072-0002    0.0  0.0
5  小森  090-0452-9763  1981-06-07  881-0101    0.0  0.0
6  鈴木  090-4960-0320  1978-07-03  916-1232    0.0  0.0

In [228]:
length_df2 = len(df2.index)

In [229]:
length_df_origin = len(re_def.index)

In [230]:
for i in range(length_df2):
    for j in range(length_df_origin):
        if (df2.loc[i,'対象薬品'] == df1.loc[j,'対象薬品']) and (df2.loc[i,'対象領域'] == df1.loc[j,'対象領域']) and (df2.loc[i,'名前'] in df1.loc[j,'名前']) and (df1.loc[j,'dup'] > thr) and (df1.loc[j,'dup']>df2.loc[i,'数字']):
             df2.loc[i,'予測名前1'] = df1.loc[j,'名前']
             df2.loc[i,'数字'] = df1.loc[j,'dup']

In [231]:
df2

   名前            携帯番号       生年月日      郵便番号   予測名前1   数字
0  渋谷  090-6335-3557  1983-03-04  019-0532   渋谷 波子  3.0
1  清水  090-1642-6380  1980-03-21  861-8006   清水 憲広  3.0
2  須藤  090-3700-9657  1987-05-07  949-6433   須藤 知実  1.0
3  竹下               0 1992-04-23  503-1316   竹下 政広  1.0
4  桑原  070-3069-2702  1973-11-07  072-0002  桑原 由記彦  1.0
5  小森  090-0452-9763  1981-06-07  881-0101   小森 勝英  2.0
6  鈴木  090-4960-0320  1978-07-03  916-1232  鈴木 八洲子  2.0

In [ ]:
df2.to_excel("matching_past.xlsx")