In [29]:
import pandas as pd
from pandas import DataFrame

In [73]:
df =pd.read_excel('重複医師.xlsx',sheet_name = 'Sheet1')

In [74]:
df

   医師コード  医師名  重複判定
0      1   田中   NaN
1      3   佐藤   NaN
2      5   新冨   NaN
3      6   健太   NaN
4      7   福田   NaN
5      8   土門   NaN
6      9   内山   NaN
7     10  佐々木   NaN

In [75]:
df_hub = pd.read_excel('hub.xlsx')

In [76]:
df_hub

    医師コード  医師名
0       1   田中
1       3   佐藤
2       5   新冨
3       6   健太
4       1   田中
5       7   福田
6       8   土門
7       9   内山
8      10  佐々木
9       2   田中
10      4   佐藤
11      5   新冨

In [88]:
  for i in range(len(df)):
    for j in range(len(df_hub)):
         if (df.loc[i,'医師名']== df_hub.loc[j,'医師名']) and (df.loc[i,'医師コード']!=df_hub.loc[j,'医師コード']):
             df.loc[i,'重複判定'] = '重複'

田中 2
佐藤 4

In [90]:
df.head()

   医師コード 医師名 重複判定
0      1  田中   重複
1      3  佐藤   重複
2      5  新冨  NaN
3      6  健太  NaN
4      7  福田  NaN